@import "seattletimes";

main.app {
  max-width: 800px;
  margin: auto;
}

.listings {
  .display-flex();
  .flex-wrap(wrap);
  font-family: @df-sans;
  font-size: 16px;

  .book {
    .flex(0 0 33%);
    padding: 16px;

    .title {
      font-size: 20px;
      margin: 0;
    }

    .author {
      color: @st-dark-purple;
      font-size: 16px;
      margin: 0;
    }

    .placeholder {
      height: 240px;
      margin: 8px 0;
      background-color: @df-light-gray;
      background-image:
        linear-gradient(to bottom right, transparent 0%, transparent 50%, @df-middle-gray 50%, @df-middle-gray 51%, transparent 51%),
        linear-gradient(to bottom left, transparent 0%, transparent 50%, @df-middle-gray 50%, @df-middle-gray 51%, transparent 51%);
    }

    .review-link {
      display: block;
      text-align: right;

      &::after {
        content: " >";
      }
    }
  }
}