<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <main class="app">

      <div class="filters">
        <ul class="category">
          <li>
            Fiction
            <ul class="Fiction"></ul>
          </li>
          <li>
            Nonfiction
            <ul class="Nonfiction"></ul>
          </li>
        </ul>
        <ul class="year"></ul>
        <ul class="local">
          <li>
            <input type="checkbox" value="local" id="local">
            <label for="local">Local authors</label>
          </li>
        </ul>
      </div>

      <div class="listings">
      <% json.books.forEach(function(book) { %>
        <div class="book"
          data-category="<%= book.category %>"
          data-genre="<%= book.genre %>"
          data-year="<%= book.year %>"
          data-local="<%= book.local %>"
          data-title="<%= book.title %>">

          <div class="placeholder"></div>

          <% if (book.local) { %>
          <div class="local badge" title="Local author">&bigstar;</div>
          <% } %>

          <h2 class="title"><%= book.title %></h2>
          <h3 class="author"><%= book.author %></h3>

          <a class="review-link" href="<%= book.link %>" target="_blank">Read full review</a>
        </div>
      <% }) %>
      </div>

    </main>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
