<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="constrained">
      <h1>The Seattle Times' recommended reading list</h1>

      <p class="chatter">
        "Outside of a dog, a book is man's best friend. Inside of a dog it's too dark to read." Nobody summed up literature like Groucho Marx, but his famous quote is silent on your choice of reading material. Use the interactive guide below to find our recommendations since 2014, including an option to filter for only local authors.
      </p>
    </header>

    <main class="app constrained">

      <input type="checkbox" id="show-filters">
      <label class="show-filters" for="show-filters">filters</label>
      <div class="filters">
        <h2>Genre</h2>
        <ul class="category"> </ul>
        <h2>Year</h2>
        <ul class="year"></ul>
        <ul class="local">
          <li>
            <input type="checkbox" value="local" id="local">
            <label for="local">Local authors only</label>
          </li>
        </ul>
      </div>

      <div class="listings">
      <% json.books.sort(function(a, b) { return a.title < b.title ? -1 : 1 }).forEach(function(book) { %>
        <div class="book"
          data-category="<%= book.category %>"
          data-genre="<%= book.genre %>"
          data-year="<%= book.year %>"
          data-local="<%= book.local %>"
          data-title="<%= book.title %>">

          <% if (book.cover) { %>
          <img class="cover" src="./assets/<%= book.cover %>.jpg">
          <% } else { %>
          <div class="placeholder"></div>
          <% } %>

          <div class="details">

            <% if (book.local) { %>
            <div class="local badge" title="Local author">Local author</div>
            <% } %>

            <h2 class="title"><%= book.title %></h2>
            <h3 class="author"><%= book.author %></h3>

            <div class="meta"><%= book.year %> - <%= book.genre.replace(/; /g, ", ") %></div>

            <a class="review-link" href="<%= book.link %>" target="_blank">Read full review</a>

          </div>
        </div>
      <% }) %>
        <div class="no-results">
          No results found
        </div>
      </div>

    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
