<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="constrained">
      <h1>Great reads</h1>
      <h2>An interactive guide to The Seattle Times' best books recommendations from the last few years.</h2>
    </header>

    <main class="app constrained">

      <input type="checkbox" id="show-filters">
      <label class="show-filters" for="show-filters">filters</label>
      <div class="filters">
        <ul class="local">
          <li>
            <input type="checkbox" value="local" id="local">
            <label for="local">Local authors only</label>
          </li>
        </ul>
        <h2>Genre</h2>
        <ul class="category"> </ul>
        <h2>Year</h2>
        <ul class="year"></ul>
      </div>

      <section class="listings">
      <% json.books.sort(function(a, b) { return a.title < b.title ? -1 : 1 }).forEach(function(book) { %>
        <div class="book"
          data-genre="<%= book.genre %>"
          data-local="<%= book.local %>"
          data-link="<%= book.link %>"
        >
          <div class="wrapper">

            <img class="cover" src="./assets/covers/<%= book.cover %>.jpg">

            <div class="details primary">
              <h2 data-bound="title" class="title"><%= book.title %></h2>
              <h3 data-bound="author" class="author"><%= book.author %></h3>

              <div class="meta">
                <span data-bound="year"><%= book.year %></span> - <%= book.genre.replace(/; /g, ", ") %>
              </div>

              <a class="expand-book">Show more</a>
            </div>
          </div>

          <div class="details secondary">

            <% if (book.local) { %>
            <div class="local badge" title="Local author">Local author</div>
            <% } %>

            <p data-bound="blurb" class="blurb"><%= book.blurb %></p>

            <a class="review-link" href="<%= book.link %>" target="_blank">Read full review</a>

          </div>

        </div>
      <% }) %>
        <div class="no-results">
          No results found
        </div>
      </section>

      <aside class="modal">
        <div class="backdrop"></div>
        <div class="frame">
          <a class="close-modal">&laquo; back to listings</a>
          <div class="content"></div>
          <nav class="stepper">
            <a class="previous in sequence">&larr; previous</a>
            <a class="next in sequence">next &rarr;</a>
          </nav>
        </div>
      </aside>

    </main>

    <footer class="constrained">
      <%= t.include("partials/_dontMiss.html", { data: [{
        link: "http://www.seattletimes.com/entertainment/books/bill-gates-names-his-five-favorite-books-of-2016/",
        image: "teasers/gates.jpg",
        head: "Bill Gates names his five favorite books of 2016"
      }, {
        link: "http://www.seattletimes.com/entertainment/books/gift-these-12-paperbacks-to-yourself/",
        image: "teasers/gifts.jpg",
        head: "Gift these 12 paperbacks to yourself"
      }, {
        link: "http://www.seattletimes.com/entertainment/books/the-king-county-library-systems-five-top-books-of-2016/",
        image: "teasers/king.jpg",
        head: "The King County Library's five top books of 2016"
      }, {
        link: "http://www.seattletimes.com/entertainment/books/bookstores-old-and-new-add-to-thriving-indie-scene/",
        image: "teasers/bookstores.jpg",
        head: "Bookstores old and new add to thriving indie scene"
      }]}) %>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
